.main-data {
  /* border: 2px solid red; */
  padding-left: 0px;
  padding-right: 0px;
}

.my-navbar {
  background-color: purple;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.btn-save {
  margin-left: 25%;
}

.btn-so {
  margin-right: 25%;
}

.Workspace, .ws-ele {
  color: white;
  display: inline-block;
}

.tool-pal {
  background-color: steelblue;
  color: black;
}

.nodes-ws {
  background-color: steelblue;
  color: black;
}

.ws-data {
  margin-left: 0px;
  margin-right: 0px;
}

.main-row {
  padding-left: 0px;
  border-radius: 3%;
  padding-right: 0px;
}

.main-ws {
  height: 550px;
  background-color: #fff2cc;
}

.tp-full {
  background-color: lightgrey;
  height: 550px;
  border-radius: 3%;
  padding: 0;
  /* margin-left: auto;
  margin-right: auto; */
}

.fsb {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.circle-xs {
  background-color: limegreen;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  /* padding: auto; */
  padding-top: 7px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.hexagon-xs::before, .hexagon-xs::after {
  height: 11px !important;
}

.rect-xs {
  /* padding-top: 3%; */
  background-color: orange;
  height: 30px;
  color: white;
  width: 50px;
}

.node-eles {
  margin-left: auto !important;
  margin-right: auto !important;
}

.tool-pal, .nodes-ws {
  padding-bottom: 8px;
  padding-top: 8px;
}

.new-cir, .new-hex, .new-rect {
  margin-left: 0px !important;
  margin-right: 0px !important;
  /* margin: auto !important; */
}
